.summary-section {
  margin-top: 4rem;
  padding: 1rem 1.5rem;

  border-radius: 12px;
  border: 1px solid #e0e0e0;

  background-color: #e4e4e4;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.summary-section h3 {
  margin-bottom: 1rem;
}

.summary-section p {
  margin: 0.5rem 0;
}

.summary-section strong {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
